<div class="container">


  <div class="info">
    <h1><strong> City:</strong>{{weather.city.name}}</h1>
    <h3>longitude:{{weather.city.coord.lon}}</h3>
    <h3>longitude:{{weather.city.coord.lat}}</h3>
    <h3><strong>Temp</strong>:{{weather.list[0].main.temp}}</h3>
    <h3><strong>tempMax:</strong>{{weather.list[0].main.temp_max}}  </h3>
    <h3><strong>tempMin: </strong>{{weather.list[0].main.temp_min}}</h3>
    <h3> <strong>The weather description:</strong> {{weather.list[0].weather[0].description}}</h3>
    <h3> <strong>humidity :</strong>{{weather.list[0].main.humidity}}</h3>

  </div>


</div>
